<div id = "view">
    <section class="cover" id="mainCover">

    </section> 
    <section class="colored black-trans">
		<div class="container">
			<div class="columns">
				<div class="col-6 t-col-12">
					<div class="wrapper">
						<img src="https://raw.githubusercontent.com/gdgphilippines/main-files/master/images/gdg-icon_large.png" height="128px" style="margin: 24px 0px; margin-top: 48px">
						<h1>About us</h1>
						<p>Google Developer Group (GDG) Philippines is a group of enthusiastic Filipino developers interested to collaborate and learn more about new technologies. <br><br>GDG Philippines is an independent group; our activities and the opinions expressed on any of our official social media pages should in no way be linked to Google, the corporation.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>